* {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 229, 127);
}
body {
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 229, 127);
	height: 100%;
}
.photo {
	width: 100%;
	height: fit-content;
	background-color: rgb(255, 229, 127);
	display: flex;
  justify-content: center;
  align-items: center;
}
.photo img {
	max-width: 2000px;
  width: 95%;
	margin-top: 10vh;
	margin-bottom: 10vh;
}
