* {
	padding: 0;
	margin: 0;
	background-color: rgb(255, 229, 127);
}
.photo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.photo img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100vmin;
}
