* {
	padding: 0;
	margin: 0;
	background-color: rgb(255, 237, 163);
}
.photo {
	margin-top: 5vh;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.photo img {
	object-fit: cover;
	width: 64vh;
	height: 90vh;
}
